div.la-date-picker {

  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  background-color: white;

  align-items: stretch;

  cursor: pointer;

  .fa-calendar-o, .fa-calendar {
    padding: 6px 3px 6px 6px;
    color: #999;
  }

  span {
    padding: 6px 6px 6px 3px;
  }

  button {
    outline:none;
    border-style:none;
    background-color: transparent;
    text-align: center;
    width: 18px;
    padding: 6px 6px 6px 6px;

    &:hover:not(:disabled) {
      background-color: #eee;
    }

    &:active {
      background-color: #ccc;
      color: #000;
    }
  }
}