div.la-date-range-picker {

  .custom-range-editor {
    overflow-y: hidden;
    height: 42px;
    opacity: 1;
    font-size: 80%;
    padding: 10px 0;

    &.ng-hide-add, &.ng-hide-add-active,
    &.ng-hide-remove, &.ng-hide-remove-active {
      -webkit-transition: all linear 0.15s;
      transition: all linear 0.15s;
    }
    // don't set the max width while we're animating or it won't animate
    &.ng-hide {
      height: 0;
      opacity: 0;
    }

  }
}