@import "../../../settings/colors";

div.toggle-button-group {

  align-items: stretch;

  div.row {

    > button {
      flex: 1 1 0;
      //min-width: min-content;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0,0,0,0.5);
      background-color: darken($separator-color, 6%);
      outline: none;
      margin:0;
      white-space: nowrap;
      //cursor: pointer;
      display: inline-block;
      padding: 0 16px;
      line-height: 100%;
      text-align: center;
      height: 32px;
      text-transform: uppercase;

      &:hover {
        background-color: darken($separator-color, 12%);
      }

      border-style: none;
      border-left: 1px solid darken($separator-color, 3%);

      &.selected {
        color: rgb(255, 255, 255); // todo: use theme colors!!...
        * {
          color: inherit;
        }
        background-color: rgb(133, 133, 137); //$fixme-blue; // todo: use theme colors!!...
        border-left: none;
      }

      &:disabled {
        border-top: 1px solid $separator-color;
        border-bottom: 1px solid $separator-color;
        border-left: 1px solid $separator-color;
        background-color: white;
        color:#ccc;
      }

      &:last-child:disabled {
        border-right: 1px solid $separator-color;
      }

    }

    &:first-child {
      button:first-child {
        border-top-left-radius: 3px; // todo: use theme radius...
      }
      button:last-child {
        border-top-right-radius: 3px;
      }
    }

    &:last-child {
      button:first-child {
        border-bottom-left-radius: 3px;
      }

      button:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  div.row + div.row {
    margin-top: 3px;
  }

  &.has-leftovers {
    div.row:nth-last-child(2) {
      a:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  //    &.rounded {
  //      @extend .rounded-top;
  //      @extend .rounded-bottom;
  //    }
  //
  //    &.rounded-top {
  //
  //      > a {
  //
  //        &:first-child {
  //          border-top-left-radius: 3px; // todo: use theme radius...
  //        }
  //
  //        &:last-child {
  //          border-top-right-radius: 3px;
  //        }
  //      }
  //
  //    }
  //
  //    &.rounded-bottom {
  //
  //      > a {
  //
  //        &:first-child {
  //          border-bottom-left-radius: 3px;
  //        }
  //
  //        &:last-child {
  //          border-bottom-right-radius: 3px;
  //        }
  //
  //      }
  //    }

}

