@import "../../../settings/colors";
@import "./areaTreeMixin";

.zone-navigator {

  $widget-height: 30px;

  $root-bg: #ccc;
  $root-bg-hover: #858589;

  $crumb-caret-width: 28px;
  $collapse-transition-time: 600ms;

  $breadcrumb-transition-time: 200ms;

  position: relative;
  overflow: visible;

  align-items: stretch;

  background-color: #eee;
  border-radius: 3px;
  height: $widget-height;

  .selectize-control.single {

    .selectize-input {

      display: flex;
      flex-direction: row;

      padding: 0;
      box-shadow: none;
      background-image: none;
      background-color: white;
      border-radius: 3px;
      overflow: visible;
      border: 1px solid darken($separator-color, 8%);

      &:after {
        // we use our own drop down arrow so hide theirs...
        display: none !important;
      }

      .ui-select-match {
        display: flex;
        flex: 1;
      }
      .ui-select-search {
        padding: 6px !important;
      }
    }
  }

  .ui-select-choices-content {
    @include zone-tree();
  }

  .ui-select-choices-row {
    .area-path {
      font-size: 11px;
      color: #999;
    }

    &.active {
      background-color: #858589;
      color: white;
      .area-path {
        color: lighten(#858589, 50%);
      }
    }

  }

  .ui-select-match {

    > span {
      flex: 1;
      display: flex;
      flex-direction: row;

      div.hover-crumbs {

        max-width: 100%;
        overflow: hidden;

        &.collapsed-add, &.collapsed-remove {
          /* this is required as of 1.3x to properly
             apply all styling in a show/hide animation */
          transition: 400ms max-width;
        }

        // don't set the max width while we're animating or it won't animate
        &.collapsed:not(.collapsed-add) {
          max-width: 0;
        }
        // don't set the max width while we're animating or it won't animate
        &.collapsed:not(.collapsed-remove) {
          max-width: 0;
        }

        &.collapsed, &.collapsed-add {
          > a:hover .crumb-container {
            // make sure the crumbs disappear straight away when we start collapsing, otherwise
            // they stay there till the mouse stops hovering.  Other options tried left rendering
            // artifacts until the mouse moved again.  Probably a nicer way of doing, but I'll look
            // at it if someone complains.
            display: none;
          }
        }

        a.hover-crumb-trigger {
          height: $widget-height;
          line-height: $widget-height;
          width: $crumb-caret-width;
          display: inline-block;
          text-align: center;
          color: #777;
          background-color: darken($separator-color, 8%);

          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;

          &:link, &:visited {
            text-decoration: none;
          }
          &:hover {
            text-decoration: underline;
          }

          // two stage transition when reverting from hover - we stay dark until the breadcrumbs have finished
          // animating, then we quickly soft fade back to normal colors.
          transition: all 200ms;
          transition-delay: $breadcrumb-transition-time;

          &:hover {
            background-color: $root-bg-hover;
            transition: all 0ms; // we tranistion the background instantly on hover
            color: #f0f0f0;
            .crumb-container {
              max-width: 150%; // need 150% as 100% clips...
              padding-right: 8px;
            }
          }

          .crumb-container {
            position: absolute;
            z-index: 1;
            top: 0;
            left: $crumb-caret-width;
            background-color: $root-bg-hover;
            height: $widget-height;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            overflow: hidden;
            max-width: 0;
            transition: max-width 200ms;

            ol.breadcrumbs {
              margin: 0;
              background-color: transparent;
              height: $widget-height;

              > li {
                a, span {
                  font-size: 11px;
                  height: $widget-height;
                  line-height: $widget-height;
                  color: #f0f0f0;
                }

                a {
                  &:link, &:visited {
                    color: #f0f0f0;
                    text-decoration: underline;
                  }
                  &:hover {
                    color: white;
                  }
                }
                span {
                  cursor: default;
                }
              }
            }
          }
        }
      }

      ol.crumbs {
        overflow: hidden;
        list-style: none;
        margin: 0;
        background-color: transparent;
        padding: 0;
        height: 100%;

        > li {
          font-size: 12px;
          height: $widget-height;
          line-height: $widget-height;
          white-space: nowrap;
          margin-bottom: 0;
          text-align: left;

          overflow: hidden;
          max-width: 100%;

          > a, > span {
            display: inline-block;
            overflow: hidden;
            height: $widget-height;
            line-height: $widget-height;
            padding-left: 8px;
            padding-right: 8px;
            color: #333;
          }
          a {
            &:link, &:visited {
              color: #333;
            }
            &:hover {
              color: black;
            }
          }

          &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }

        > li.crumb {
          &.collapsed {
            max-width: 0;
          }
        }

        > li:not(.collapsed) + li {
          > span, > a {
            padding-left: 0;
            &:before {
              display: inline-block;
              color: #ccc;
              content: "/\00a0";
            }
          }
        }
      }
    }

  }

  div.search {
    width: $crumb-caret-width;
    padding-left: 8px;
    padding-right: 8px;
  }

}