@import "../../components/modal/optionDialog";

.edit-control-strategy-dialog,
.edit-manual-control-dialog,
.edit-level-control-dialog,
.edit-daylight-harvesting-dialog,
.calibrate-levels-dialog {

  md-toolbar {
    md-icon {
      margin-left: 16px;
    }
    select-input {
      label {
        display: none;
      }
      md-select {
        ._md-select-value {
          color: white;
          font-weight: 500;
          font-size: 16px;
          border-bottom-color: white;
        }
        &:not([disabled]):focus ._md-select-value {
          color: white;
          border-bottom-color: rgba(255, 255, 255, 0.85);
        }
      }
    }
    padding-right: 16px;
  }

  .subheader {
    height: 46px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgb(250, 250, 250);

    select-input {
      margin: 0;
      label {
        display: none;
      }
      md-select {
        ._md-select-value {
          color: rgba(0, 0, 0, 0.9);
          font-weight: 500;
          font-size: 14px;
          //border-bottom-color: white;
        }
        //&:not([disabled]):focus ._md-select-value {
        //  color: white;
        //  border-bottom-color: white;
        //}
      }
    }
  }

  //.subtle {
  //  margin-left: 6px;
  //  font-weight: 300;
  //  font-size: 14px;
  //  //&.small {
  //  //  font-size: 12px;
  //  //}
  //}
  //
  .md-subheader, .subheader {
    .hint {
      margin-left: 6px;
      font-weight: 300;
      //&.small {
        font-size: 12px;
      //}
    }

  }


  md-dialog-content {

    //border-top: 1px solid #eee;

    & + md-dialog-content {
      border-top: 1px solid #eee;;
    }

    &:not(:last-of-type) {
      padding-bottom: 0;
    }

    > div > [layout=row], & > [layout=row] {

      &.gap-top {
        margin-top: 12px;
      }

      & > *:not(:first-child) {
        margin-left: 24px;
      }
    }

    //.md-subheader {
    //  .md-subheader-inner {
    //    padding-left: 0;
    //  }
    //}

  }

}

.edit-manual-control-dialog {
  radio-group-input {
    margin-top: 0;
    md-radio-group md-radio-button {
      margin-top: 0;
    }
  }
}
