@import "../../components/zone/areaTreeMixin";

#zone-scene-index {

  $header-gap: 18px;
  //$header-gap: 0px;
  $default-cell-padding: 12px;
  $row-height: 40px;

  $toolbar-height: 36px;
  $scene-title-height: 72px;
  $header-height: $scene-title-height + $toolbar-height;

  $dark-header-height: $header-gap + $header-height;

  $animation-duration: 550ms;
  $tree-part-width: 24px;


  .container {
    position:relative;
    //background-color: white;
    border-top: 1px solid rgba(33, 150, 243, 0.7);
    //background-color: rgb(33, 150, 243);
    background: linear-gradient(to bottom, rgb(33, 150, 243), rgb(33, 150, 243) $dark-header-height, white $dark-header-height);
    padding-top: $header-gap;
  }

  .md-table {
    td {
      height: $row-height;
    }
  }

  .zone-areas {
    margin-top: $header-height;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    .md-table {
      min-width: 180px;

      td {
        @include zone-tree($depth-increment: 1.5em);
      }

      thead {
        display: none;
        td, th {
          height: 0;
        }
      }
    }
  }

  .scroll-container {
    position: relative;
    max-width: 100%;
    min-width: 0;
  }

  .scene-configurations {

    // angular css animations require a class so we're using that rather
    // than the element name of the directive
    .scene-table {

      position:relative;

      &:not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      .md-table {
        width: 150px;

        thead {
          th {
            padding-top: 0;
            padding-bottom: 0;
          }
          th {
            background-color: transparent;
            height: $header-height;
            //color: rgba(255,255,255,0.85);
            color: white;
            font-size: 14px;
            font-weight: 500;
          }
          th {
            white-space: normal;
            padding-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.2);
            > div {
              height: 100%;
            }
            .title {
              text-align: center;
              padding-left: $default-cell-padding;
              padding-right: $default-cell-padding;
            }
            .default-scene {
              padding: 4px 0;
              font-weight: 100;
              cursor: default;
              a {
                &:link, &:visited {
                  color: inherit;
                  text-decoration: none;
                  cursor: pointer;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .md-button {
              md-icon {
                color: rgba(255, 255, 255, 0.8);
              }
              &:hover {
                md-icon {
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
            .toolbar {
              button {
                position: relative;
                font-size: 20px;
                md-icon {
                  font-size: 20px;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  position: absolute;
                }
                &.toggle {
                  md-icon {
                    &.option_a {
                      opacity: 1;
                      transform: rotate(0deg);
                      transition: all $animation-duration;
                    }
                    &.option_b {
                      opacity: 0;
                      transform: rotate(-180deg);
                      transition: all $animation-duration;
                    }
                  }
                }
              }
            }
          }
        }

        td {
          height: $row-height;
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 0;
          padding-right: 0;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          outline: none;
        }
      }


      .config-cell {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;

        padding: 0 12px;

        md-icon {
          margin: 0 0 0 0;
          width: $tree-part-width;
          &.disabled {
            opacity: 0.3;
          }
        }
        &.parent-area {
          opacity: 0;
          transition: opacity $animation-duration;
          //transition: opacity $animation-duration;
        }
        > div {
          overflow: hidden;
          width: $tree-part-width;
          height: 100%;
        }
        .main-icon {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          overflow-x: visible;
        }
        .tree-part {
          width: 0;
          transition: width $animation-duration;
          &.through {
            background: url(images/icons/inherited_through.png) left center no-repeat;
          }
          &.inherited_through {
            background: url(images/icons/inherited_through.png) left center no-repeat;
          }
          &.inherited_through_terminal {
            background: url(images/icons/inherited_through_terminal.png) left center no-repeat;
          }
          &.inherited_terminal {
            background: url(images/icons/inherited_terminal.png) left center no-repeat;
          }
        }
      }



      &.expanded {
        .md-table {
          // tree icons
          thead {
            tr th .toolbar {
              button.toggle {
                md-icon {
                  &.option_a {
                    opacity: 0;
                    transform: rotate(180deg);
                    transition: all $animation-duration;

                  }
                  &.option_b {
                    opacity: 1;
                    transform: rotate(0deg);
                    transition: all $animation-duration;
                  }
                }
              }
            }
          }

        }
      }

      &.expanded {
        .config-cell {
          &.parent-area {
            transition: opacity $animation-duration;
            opacity: 1;
          }
          &.has-inherited {
            .main-icon {
              background: url(images/icons/inheritance_parent.png) center bottom no-repeat;
            }
          }
          &:not(.inherited) md-icon.disabled {
            opacity: 1;
          }
          &.inherited md-icon {
            transition: opacity $animation-duration;
            opacity: 0.3;
          }
          .tree-part {
            transition: width $animation-duration;
            width: $tree-part-width;
          }
        }
      }

      &.scene-hovered {
        .md-table {
          th {
            //background-color: rgba(255, 255, 255, 0.1);
            background-color: rgba(0, 0, 0, 0.1);
          }
          td {
            background-color: #fafafa;
          }
          tr.hover td {
            background-color: #dadada;

            &:hover {
              background-color: #cfcfcf;
            }
          }
        }
      }


      // shows parent areas on hover. by only showing the scene that's hovered
      // over we can narrow the css selectivity so we don't clash with the .expanded
      // class being removed when the table is animating.  I tried to fix it and
      // couldn't so this approach is easier, and it also looks perfectly fine, possibly
      // even a little better than showing the whole row.
      &:not(.expanded):not(.expanded-remove-active) {
        &.scene-hovered {
          tr {
            .config-cell.parent-area {
              transition-duration: 0ms;
            }
            &.hover {
              .config-cell.parent-area {
                transition-duration: 0ms;
                opacity: 1;
              }
            }
          }
        }
        &:not(.scene-hovered) {
          .config-cell.parent-area {
            transition-duration: 0ms;
          }
          &.hover {
            .config-cell.parent-area {
              transition-duration: 0ms;
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .configuration-details {

    border-left: 1px solid rgba(0, 0, 0, 0.2);

    md-content {
      background-color: white;
    }

    min-width: 310px;
    padding-top: $header-height;

    .controls {
      padding: 0 6px;
      //position:absolute;
      min-height: 50px;
    }

    .preview {
      border-top: 1px solid #eee;
      padding: 12px 18px;
    }

  }
}