empty-state {
  //text-align: center;
  //font-size: 18px;
  //font-weight: 100;
  > div {
    padding: 36px;
    border: 4px dotted rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    text-align: center;
    font-weight: 300;
  }

  p {
    color: rgba(0,0,0,0.6);
    &.title {
      font-size:16px;
      font-weight: 500;
    }
  }
}