label {
  white-space: nowrap;
  line-height: 140%;
  &.main, &.title {
    color: #666;
    display: block;
    font-size: 14px; // hack for now!
    margin-bottom: 6px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.form-group {
  &, .input-group {
    white-space: nowrap;
  }
//  .input-group-addon, .input-group-btn {
//    width: auto; // bootstrap is using width: 1% which is making the form-group drop to the next line and go 100% wide.
//  }
}

table.radio-grid {
  td {
    height: 32px;
  }
  td + td {
    padding-left: 1.5em;
  }
}

hint {
  font-size: 14px;
  color: rgba(0,0,0,0.54)
}