md-toolbar {
  height: 48px;
  min-height: 48px; // override md toolbar min height of 64px
}

md-dialog {
  max-height: 90%;
}

md-radio-button {
  &[disabled] ._md-container {
    ._md-off {
      border-color: rgba(0,0,0,0.27)!important;
    }
    ._md-on {
      background-color: rgba(0,0,0,0.27);
    }
  }
}