@import "../../settings/colors";
@import "../../settings/gaps";

[layout=column] {
  & > .spacer {
    display: block;
    min-height: $defaultGap;
    height: $defaultGap;
    max-height: $defaultGap;

    &.tiny {
      min-height: 3px;
      height: 3px;
      max-height: 3px;

      margin-top: 3px - 1px;
    }

    &.small {
      min-height: 8px;
      height: 8px;
      max-height: 8px;

      margin-top: 8px - 1px;
    }

    &.tall, &.large {
      min-height: 2 * $defaultGap;
      height: 2 * $defaultGap;
      max-height: 2 * $defaultGap;
    }

  }

  & > .separator {
    display: inline-block;
    border-top: 1px solid $separator-color;

    min-height: $defaultGap;
    height: $defaultGap;
    max-height: $defaultGap;

    margin-top: $defaultGap - 1px;

    &.tall, &.large {
      min-height: 2 * $defaultGap;
      height: 2 * $defaultGap;
      max-height: 2 * $defaultGap;

      margin-top: 2 * $defaultGap - 1px;
    }
  }
}

[layout=row] {
  & > .spacer {
    display: inline-block;
    min-width: $defaultGap;
    width: $defaultGap;
    max-width: $defaultGap;

    &.small {
      min-width: $defaultGap/2;
      width: $defaultGap/2;
      max-width: 2 * $defaultGap/2;
    }
    &.wide, &.large {
      min-width: 2 * $defaultGap;
      width: 2 * $defaultGap;
      max-width: 2 * $defaultGap;
    }
  }

  & > .separator {
    display: inline-block;
    border-left: 1px solid $separator-color;

    min-width: $defaultGap;
    width: $defaultGap;
    max-width: $defaultGap;

    margin-left: $defaultGap - 1px;

    &.wide, &.large {
      min-width: 2 * $defaultGap;
      width: 2 * $defaultGap;
      max-width: 2 * $defaultGap;

      margin-left: 2 * $defaultGap - 1px;
    }
  }
}