#alarm-management-index {

  .alarm-list-wrapper {

    position:relative;

    //md-progress-linear {
    //  position:absolute;
    //  top:0;
    //  right:0;left:0;
    //}

  }

  .filters {
    //background-color: white;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //padding: 12px;
    //height: 66px;
    //min-height: 66px; // hack to stop it from shrinking when dialogs are displayed.

    div.criteria {
      display: flex;
      flex-direction:column;
      align-items: stretch;

      &:not(:first-child) {
        margin-top: 22px;
      }

      label + * {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

    }

    // make it last...
    div.criteria.text-search {
      order: 100;
      margin-right: 0;
    }

    label {
      margin-bottom: 8px;
    }
  }

}