<% content_for(:head) do %>

    <style type="text/css">
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>

<% end %>
<div flex class="root" layout="column">
  <ui-view flex layout="column"/>
</div>