la-month-view {

  background-color: white;

  .cell {
    position: relative;
    //border-right: 1px solid #eee;
  }

  $header-height: 46px;

  .header .day {
    text-align: center;
    background-color: #eee;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    height: $header-height;
    line-height: $header-height;
  }

  .week {
    flex-basis: 0;
    .day {
      text-align: right;
      color: rgba(0, 0, 0, 0.8);
      &:not(.current) {
        color: rgba(0, 0, 0, 0.3);
      }
      &.past {
        opacity: 0.5;
      }
      &.today {
        border: 2px solid #99e;
      }
    }
  }

}