@import "../animation-mixins";

.day-settings-dialog {

  .dialog-content {
    border-bottom: 1px solid #eee;
  }

  .settings {
    border-right: 1px solid #eee;
  }

  .day-types, .overrides {
    min-height: 85px;
  }

  md-list.overrides {
    md-list-item {
      &:hover {
        md-icon {
          content: 'reorder'
        }
      }
    }
  }

  .md-actions {
    padding-left: 8px;
  }
}

