md-steppers {
  md-content {
    background-color: white;
    padding: 12px 24px;

    p {
      &.title {
        font-weight: 400;
      }
      &.hint {
        color: rgba(0,0,0,0.8);
      }
    }
    p:first-child {
      margin-top: 0;
    }
  }
}