@import "../../settings/gaps";
@import "../../settings/colors";

popover-content {
  display: none;
}

.drop-element {
  background-color: white;
  padding: $defaultGap/2;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  // Set the initial state for our animation
  opacity: 0;
}

.drop-element.drop-open-transitionend {
  // Show our drop while it's open and while the transition is going on
  display: block;
}

.drop-element.drop-after-open {
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;

  opacity: 1;
}


