.option-dialog {

  .hint, .description-container {
    margin-top: 16px;
    font-size: 90%;
    color: #999;
  }
  .hint {
    &:before {
      content: '* '
    }
  }

  .options {
    margin-top: 16px;
    display: table;
    table-layout: fixed;

    .option {
      display:table-row;
    }

    .button-container, .description-container {
      display: table-cell;
      vertical-align: middle;
      padding-top: 16px;
    }

    .button-container {
      padding-right: 16px;
      button {
        text-transform: none;
      }
    }

  }
}